@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.backdrop {
	background: rgba(206, 206, 206, 0.6);
	display: flex;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	align-items: center;
	z-index: 1000;
	overflow-y: auto;
	justify-content: center;
}

.modalWrapper {
	width: 19.125rem;
	height: 26.3125rem;
	padding: 1rem 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-system-default-0;

	@include tablet {
		width: 32.8125rem;
		height: 37.9375rem;
		padding: 1.25rem;
	}

	@include full_desktop {
		width: 45.8125rem;
		height: 42.9375rem;
	}
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.btnCloseWrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	height: 1.5rem;
	margin-bottom: 0.87rem;

	@include tablet {
		margin-bottom: 7.69rem;
	}

	@include full_desktop {
		margin-bottom: 9.69rem;
	}
}

.closeBtn {
	background: transparent;
	cursor: pointer;
}

.title {
	text-align: center;
	font-family: $primary-font;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.8rem;
	color: $color-system-default-100;
}

.text {
	display: block;
	width: 100%;
	margin-top: 1.25rem;
	margin-bottom: 2.44rem;
	font-family: $primary-font;
	color: $color-system-default-100;

	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	text-align: center;

	@include tablet {
		margin-top: 1.06rem;
		margin-bottom: 2.37rem;
	}
}

.btnWrapper {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	width: 100%;

	@include tablet {
		flex-direction: row;
		width: 100%;
	}
}

.backBtn {
	display: flex;
	width: 12.5rem;
	height: 3.5rem;
	padding: 1rem 4.3125rem;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-system-default-100;
	background: none;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 132%;

	&:hover,
	&:focus {
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
		transition: box-shadow 0.3s ease;
	}
}
