@import 'src/styles/variables';
@import 'src/styles/mixins';

.logo {
	width: 5rem;
	height: 3rem;
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	@include tablet {
		width: 6.25rem;
		height: 3.75rem;
	}
	@include full_desktop {
		width: 8.5rem;
		height: 5.125rem;
	}
}
