@import "../../styles/variables";

@import "../../styles/mixins";

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.backdrop {
	background: rgba(206, 206, 206, 0.6);

	display: none;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	overflow-y: auto;
	top: 0px;
	left: 0px;
}

.modalWrapper {
	animation: fadeIn 0.3s ease-in-out;

	// background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	min-height: 100vh;
	display: flex;
}

.modalBody {
	background:
		url("../../assets/modal/cat_photo_mobile.png"),
		lightgray -30.777px -207.454px / 107.782% 334.728%;
	background-repeat: no-repeat;
	width: 20rem;
	height: 31.6875rem;

	position: relative;
	background-color: $color-system-default-0;

	@include tablet {
		background:
			url("../../assets/modal/cat_photo_tablet.png"),
			lightgray -30.777px -207.454px / 107.782% 334.728%;
		background-repeat: no-repeat;

		width: 44.3125rem;
		height: 41.375rem;

		background-color: $color-system-default-0;
	}
	@include full_desktop {
		background:
			url("../../assets/modal/cat_photo_desktop.png"),
			lightgray -30.777px -207.454px / 107.782% 334.728%;
		background-repeat: no-repeat;

		width: 53.8125rem;
		height: 42.125rem;

		margin-top: 1.63rem;

		background-color: $color-system-default-0;
	}

	.card-wrapper {
		margin: 0 !important;
	}
}

.modalBodyFull {
	max-width: 75rem;
}

body.modal-custom--block {
	padding-right: 14px;
	height: 100%;
	overflow: hidden;
}

.modalCloseBtn {
	cursor: pointer;

	position: absolute;
	top: 0.625rem;
	right: 0.9375rem;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
	height: 1.5rem;
	background: transparent;
	border: none;
	outline: 0;
	scale: 0.75;

	@include tablet {
		top: 1.25rem;
		right: 1.25rem;
		scale: 1;
	}
	@include full_desktop {
		top: 1.75rem;
		right: 1.5rem;
		scale: 1;
	}
}

.contentWrapper {
	width: 18rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;

	margin: 9.81rem auto 4.13rem auto;
	gap: 2.12rem;

	@include tablet {
		width: 39.125rem;
		margin: 15.56rem auto 5.13rem auto;
		gap: 3.5rem;
	}

	@include full_desktop {
		width: 42.8125rem;
		margin: 15.25rem auto 5.69rem auto;
	}
}

.text {
	color: $color-system-default-100;
	font-size: 1rem;
	text-align: center;

	@include tablet {
		font-size: 1.125rem;
	}

	@include full_desktop {
		font-size: 1.25rem;
	}
}

.textWrapper {
	width: 100%;
}

.radioWrapper {
	width: 100%;
	height: 7.625rem;
	display: block;

	@include tablet {
		height: 8.5625rem;
	}

	@include full_desktop {
		height: 9rem;
	}
}

label {
	margin: auto;

	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 132%;
	text-align: center;

	width: 8.375rem;
	height: 3.5rem;
	display: inline-block;
	padding: 1.0625rem 2.0625rem;

	background: none;
	border: 1px solid $color-system-default-100;
	cursor: pointer;
	transition: background-color 0.3s ease;

	@include tablet {
		width: 19.1875rem;
		font-size: 1.125rem;
		padding: 1rem 7.1875rem;
	}

	@include full_desktop {
		width: 20rem;
	}
}

label.selected {
	background-color: $color-primary-orange;
	color: $color-system-default-0;
	border: none;
}

.optionIndicatorSum {
	display: none;
}

.optionsWrapperUp {
	display: flex;
	gap: 1.25rem;
	margin-bottom: 0.62rem;

	@include tablet {
		gap: 0.75rem;
		margin-bottom: 1.56rem;
	}

	@include full_desktop {
		gap: 2.81rem;
		margin-bottom: 2rem;
	}
}

.optionsWrapperDown {
	display: flex;
	gap: 1.25rem;

	@include tablet {
		gap: 0.75rem;
	}

	@include full_desktop {
		gap: 2.81rem;
	}
}

.otherSum {
	padding: 0rem 1rem;
	align-items: center;
}

.otherValue {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;

	font-size: 1.125rem;
	font-style: normal;

	@include tablet {
		font-size: 1.25rem;
	}
}
::placeholder {
	font-size: 1.125rem;
	font-style: normal;
	color: $color-system-default-30;

	@include tablet {
		font-size: 1.25rem;
	}
}

.btnWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.62rem;
	margin-left: auto;
	margin-right: auto;

	width: 18rem;
	height: 3rem;

	@include tablet {
		margin-top: 3.69rem;
		display: flex;

		width: 20.4375rem;
		height: 3.25rem;
	}

	@include full_desktop {
		display: flex;

		height: 3.5rem;
	}
}

// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
// 	@media (max-width: $tablet-size) {
// 		-webkit-appearance: none;
// 		appearance: none;
// 		margin: 0;
// 	}
// }
