@import "../../styles/mixins";

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.backdrop {
	background: rgba(206, 206, 206, 0.6);

	display: none;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	overflow-y: auto;
	top: 0px;
	left: 0px;
}

.modalWrapper {
	animation: fadeIn 0.3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	min-height: 100vh;
	display: flex;
}

.modalBody {
	background:
		url("../../assets/modal/cat_photo_mobile.png"),
		lightgray -30.777px -207.454px / 107.782% 334.728%;
	background-repeat: no-repeat;
	width: 320px;
	height: 507px;
	position: relative;
	background-color: white;

	@include tablet {
		background:
			url("../../assets/modal/cat_photo_tablet.png"),
			lightgray -30.777px -207.454px / 107.782% 334.728%;
		background-repeat: no-repeat;

		width: 709px;
		height: 662px;

		background-color: white;
	}
	@include full_desktop {
		background:
			url("../../assets/modal/cat_photo_desktop.png"),
			lightgray -30.777px -207.454px / 107.782% 334.728%;
		background-repeat: no-repeat;

		width: 861px;
		height: 674px;

		margin-top: 26px;

		background-color: white;
	}

	.card-wrapper {
		margin: 0 !important;
	}
}

.modalBodyFull {
	max-width: 1200px;
}

body.modal-custom--block {
	padding-right: 14px;
	height: 100%;
	overflow: hidden;
}

.modalCloseBtn {
	cursor: pointer;

	position: absolute;
	top: 10px;
	right: 15px;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	outline: 0;
	scale: 0.75;

	@include tablet {
		top: 20px;
		right: 20px;
		scale: 1;
	}
	@include full_desktop {
		top: 28px;
		right: 24px;
		scale: 1;
	}
}

.contentWrapper {
	width: 288px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;

	margin: 157px auto 66px auto;
	gap: 34px;

	@include tablet {
		width: 626px;
		margin: 249px auto 62px auto;
		gap: 56px;
	}

	@include full_desktop {
		width: 685px;
		margin: 244px auto 91px auto;
	}
}

.text {
	color: #131313;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	text-align: center;

	@include tablet {
		font-size: 18px;
		margin-top: 12px;
	}

	@include full_desktop {
		font-size: 20px;
		margin-top: 12px;
	}
}

.textWrapper {
	width: 100%;
}

.radioWrapper {
	width: 100%;
	height: 122px;
	display: block;
}

label {
	margin: auto;

	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 132%;
	text-align: center;

	width: 134px;
	height: 56px;
	display: inline-block;
	padding-top: 17px;
	padding-bottom: 17px;
	background: none;
	border: 1px solid #131313;
	cursor: pointer;
	transition: background-color 0.3s ease;

	@include tablet {
		width: 307px;
		font-size: 18px;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	@include full_desktop {
		width: 320px;
	}
}

label.selected {
	background-color: #fe702c;
	color: #fff;
	border: none;
}

.optionIndicatorSum {
	display: none;
}

.optionsWrapperUp {
	display: flex;
	gap: 20px;
	margin-bottom: 10px;

	@include tablet {
		gap: 12px;
		margin-bottom: 25px;
	}

	@include full_desktop {
		gap: 45px;
		margin-bottom: 32px;
	}
}

.optionsWrapperDown {
	display: flex;
	gap: 20px;

	@include tablet {
		gap: 12px;
	}

	@include full_desktop {
		gap: 45px;
	}
}

.otherSum {
	padding: 0px 16px;
	align-items: center;
}

.otherValue {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;

	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	@include tablet {
		font-size: 20px;
	}
}
::placeholder {
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: #c7c7c7;

	@include tablet {
		font-size: 20px;
	}
}

.btnWrapper {
	display: flex;
	justify-content: center;
	margin-top: 42px;

	@include tablet {
		margin-top: 59px;
		display: flex;
	}

	@include full_desktop {
		display: flex;
	}
}

button {
	width: 268px;
	height: 48px;

	@include tablet {
		width: 327px;
		height: 52px;
	}

	@include full_desktop {
		width: 327px;
		height: 56px;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	@media (max-width: $tablet-size) {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}
}
