@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2.5rem 1rem 1.75rem 1rem;

	@include tablet {
		justify-content: right;
		align-items: center;
		padding: 0.65rem 0 0 2rem;
	}

	@include full_desktop {
		padding: 2rem 0 0 11.38rem;
	}
}

.backBtn {
	display: none;

	@include tablet {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 1.5rem;
		font-size: 1.25rem;
	}

	@include full_desktop {
		padding-bottom: 0.75rem;
	}
}

.title {
	font-family: $secondary-font;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 900;
	line-height: 1.51rem;
	text-align: center;
	padding-bottom: 1.25rem;

	@include tablet {
		padding-bottom: 4rem;
		font-size: 3rem;
		line-height: 3.3rem;
	}
}

.accountPanel {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0 1rem;
	gap: 1.75rem;

	@include small_tablet {
		flex-direction: row;
		justify-content: start;
		align-items: start;
		padding: 0;
		gap: 1rem;
	}

	@include full_desktop {
		gap: 6.75rem;
	}
}

.accountContent {
	padding-top: 1.75rem;
	width: 100%;
	height: 100vh;
	background-color: chartreuse;

	@include full_desktop {
		padding-left: 6.75rem;
	}
}
