@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.list {
	display: flex;
	column-gap: 2.25rem;
}

.item {
	position: relative;
	padding: 0.44rem 1rem;
}
.link {
	font-size: 1.125rem;
	font-weight: 500;
	color: $color-system-default-10;
	&::after {
		transition: 0.2s;
		opacity: 0;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $color-system-default-10;
		height: 1px;
	}
	&:hover::after {
		opacity: 1;
	}
}

.menu.burger_menu {
	.list {
		flex-direction: column;
		row-gap: 1.5rem;
		@include tablet {
			row-gap: 1.38rem;
		}
	}
	.item {
		padding: 0;
	}
	.link {
		font-size: 1rem;
		font-weight: 400;
		&:hover::after {
			content: none;
		}
		@include tablet {
			font-size: 1.25rem;
		}
	}
}
.menu.footer_menu {
	.list {
		flex-direction: column;
		text-align: center;
		row-gap: 0.38rem;
		@include tablet {
			text-align: left;
			row-gap: 0.87rem;
		}
		@include full_desktop {
			row-gap: 1.38rem;
		}
	}
	.item {
		padding: 0;
	}
	.link {
		font-size: 1rem;
		font-weight: 400;
		&:hover {
			text-decoration: underline;
			text-decoration-color: $color-system-default-10;
		}
		&:hover::after {
			content: none;
		}

		@include tablet {
			font-size: 1.25rem;
			line-height: normal;
		}
		@include full_desktop {
			font-size: 1.25rem;
		}
	}
}
