@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.changePassw {
	padding-bottom: 4.69rem;
	@include full_desktop {
		padding: 3.25rem 0 10.19rem;
	}
}

.textWrap {
	display: flex;
	flex-direction: column;

	@include full_desktop {
		gap: 0.75rem;
	}
}
.title {
	color: $color-system-default-100;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.subtitle {
	max-width: 48.3125rem;
	color: $color-system-default-100;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

.form {
	width: 24.125rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2.25rem;

	@include full_desktop {
		margin-top: 2.25rem;
	}
}

.inputWrap {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	&:nth-child(3) {
		margin-bottom: 4.25rem;
	}
}

.label {
	color: $color-primary-orange;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.inputContainer {
	position: relative;
}

.input {
	position: relative;
	width: 100%;
	display: flex;
	height: 3rem;
	padding: 0.5rem 3.25rem 0.5rem 1rem;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border: 0.0625rem solid $color-system-default-50;
	font-family: $primary-font;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: $color-system-default-100;

	&:focus {
		border: 0.0625rem solid $color-system-default-20;
		& + .eyeIcon path {
			stroke: $color-system-default-100;
			transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
		}
	}

	&::placeholder {
		color: $color-system-default-30;
	}
}

.eyeIcon {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
	transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

	& path {
		stroke: $color-system-default-30;
	}

	&:hover path {
		stroke: $color-system-default-100;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}
}

.errorMsg {
	position: absolute;
	bottom: -1rem;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: $color-secondary-error;
}
