@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.changePassw {
	padding-bottom: 4.69rem;
	@include full_desktop {
		padding: 3.25rem 0 10.19rem;
	}
}

.textWrap {
	display: flex;
	flex-direction: column;

	@include full_desktop {
		gap: 0.75rem;
	}
}
.title {
	color: $color-system-default-100;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.subtitle {
	max-width: 48.3125rem;
	color: $color-system-default-100;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

.form {
	width: 24.125rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-top: 2.25rem;

	@include full_desktop {
		margin-top: 2.25rem;
	}
}
