@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.changePassw {
	padding-bottom: 2.69rem;

	@include tablet {
		padding-bottom: 4.69rem;
	}
	@include full_desktop {
		padding-bottom: 11.94rem;
	}
}

.textWrap {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	@include tablet {
		gap: 1rem;
	}

	@include full_desktop {
		gap: 0.75rem;
	}
}
.title {
	color: $color-system-default-100;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;

	@include tablet {
		font-size: 1.5rem;
	}

	@include full_desktop {
		font-size: 2rem;
	}
}

.subtitle {
	min-width: 17rem;
	max-width: 48.3125rem;
	color: $color-system-default-100;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;

	@include full_desktop {
		line-height: 140%;
	}
}

.form {
	min-width: 17rem;
	max-width: 24.125rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2rem;

	@include tablet {
		margin-top: 1rem;
	}
	@include full_desktop {
		width: 24.125rem;
		margin-top: 2.25rem;
	}
}
