$tablet-size: 320px;
$small-desktop-size: 768px;
$large-desktop-size: 1280px;
$full-desktop-size: 1440px;

@mixin tablet {
	@media (min-width: $tablet-size) {
		@content;
	}
}

@mixin small_desktop {
	@media (min-width: $small-desktop-size) {
		@content;
	}
}

@mixin large_desktop {
	@media (min-width: $large-desktop-size) {
		@content;
	}
}

@mixin full_desktop {
	@media (min-width: $full-desktop-size) {
		@content;
	}
}
