$color-system-default-0: #fcfcfc;
$color-system-default-10: #f4f4f4;
$color-system-default-20: #e0e0e0;
$color-system-default-30: #c7c7c7;
$color-system-default-40: #adadad;
$color-system-default-50: #939393;
$color-system-default-60: #7a7a7a;
$color-system-default-70: #5b5d5d;
$color-system-default-80: #434444;
$color-system-default-90: #2b2c2c;
$color-system-default-100: #131313;

$color-ref-orange-0: #ffbb9a;
$color-ref-orange-10: #ff9563;
$color-ref-orange-20: #d65d23;

$color-primary-orange: #fe702c;
$color-primary-green: #76a88d;
$color-primary-dark-green: #143630;

$color-secondary-error: #f71313;

//fonts-family
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;
