@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.backBtn {
	display: none;
}
.title {
	font-family: $secondary-font;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 900;
	line-height: 1.51rem;
}
