@use 'src/styles/variables' as *;

.list {
	display: flex;
	column-gap: 2.25rem;
}

.item {
	padding: 0.4375rem 1rem;
}
.link {
	font-size: 1.125rem;
	font-weight: 500;
	color: $color-system-default-10;
}
