.backdrop {
	z-index: 9;
	position: fixed;
	display: flex;
	justify-content: center;
	top: 5.75rem;
	left: 0;
	right: 0;
	background: rgba(206, 206, 206, 0.6);
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
}
.wrapper {
	position: relative;
	margin-bottom: 3.63rem;
	height: max-content;
}
.closeIcon {
	z-index: 9;
	position: absolute;
	display: block;
	right: 2rem;
	top: 1.06rem;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	path {
		stroke: #ffffff;
	}
}
