@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.formWrap {
	display: flex;
	flex-direction: column;
	gap: 1.06rem;
	min-width: 18rem;
	width: 100%;
	max-width: 28.9375rem;
	@include tablet {
		padding-top: 3.69rem;
		gap: 1.44rem;
	}

	@include full_desktop {
		padding-top: 1.12rem;
	}
}

.title {
	max-width: 15rem;
	align-self: center;
	color: $color-system-default-100;
	text-align: center;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	@include tablet {
		font-size: 2rem;
		max-width: 27.0625rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	min-width: 18rem;
	width: 100%;
	max-width: 28.9375rem;
}
