@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.header {
	position: sticky;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-primary-green;
	z-index: 99;
}

.container {
	min-width: 20rem;
	width: 100%;
	height: 5rem;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	@include tablet {
		width: 48rem;
		height: 5.75rem;
		padding: 1rem 3.375rem;
		justify-content: space-between;
	}

	@include full_desktop {
		width: 73.25rem;
		height: 7.625rem;
		padding: 0.75rem 1rem;
		gap: 2.19rem;
	}
}
.btnWrapper {
	display: flex;
	align-items: center;

	.icon path {
		fill: none;
		stroke: #fff;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}

	button:hover .icon path {
		stroke: $color-primary-dark-green;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}
	@include full_desktop {
		gap: 1.25rem;
	}
}