@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.wrapper {
	width: 100%;
	background-color: #fff;
	padding-bottom: 5.88rem;

	@include tablet {
		min-width: 26.125rem;
	}

	@include full_desktop {
		display: grid;
		grid-template-columns: minmax(42.06rem, 51);
		justify-content: center;
	}
}

.kittensList {
	display: flex;
	flex-direction: column;
	gap: 4.19rem;

	@include tablet {
		gap: 5.25rem;
	}

	@include full_desktop {
		gap: 6.12rem;
	}
}
