@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.wrapper {
	width: 100%;
	background-color: #fff;
}

.kittensList {
	display: flex;
	flex-direction: column;
}

.kittenItem {
	display: flex;
	flex-direction: column;
}

.kittenTitle {
	color: $color-primary-orange;
	font-family: $secondary-font;
	font-size: 1.375rem;
	font-weight: 900;
	line-height: 110%;
	text-align: start;
	width: 17.8125rem;

	@include tablet {
		width: 26.375rem;
		font-size: 2.5rem;
	}
}

.kittenDescrBody {
	display: flex;
	flex-direction: column;
	margin: 0.75rem 0;
	padding: 0.75rem 0;
	@include tablet {
		margin: 1.5rem 0;
	}
}

.kittenId {
	color: $color-primary-green;
	font-family: $primary-font;
	font-size: 1rem;
	font-weight: 400;
	line-height: 120%; /* 1.2rem */

	@include tablet {
		font-weight: 500;
	}
}

.kittenAge {
	margin-top: 0.75rem;
	color: $color-primary-green;
	font-family: $primary-font;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 120%; /* 1.5rem */

	@include tablet {
		font-weight: 900;
	}
}

.kittenBirthday {
	color: $color-primary-green;
	font-family: $primary-font;
	font-size: 1rem;
	font-weight: 400;
	line-height: 120%; /* 1.2rem */

	@include tablet {
		font-weight: 900;
	}
}

.timerBlock {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.timerTitle {
	color: $color-primary-dark-green;
	text-align: center;
	font-family: $primary-font;
	font-size: 1rem;
	font-weight: 700;
	line-height: 132%; /* 1.32rem */
}

.timerWrapper {
	display: flex;
	justify-content: center;
	gap: 1.19rem;
}

.timerUnit {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	column-gap: 0.25rem;
}

.timerNum {
	padding: 0.5rem 0.625rem;
	background: $color-primary-green;
	color: $color-system-default-0;
	// font-family: $tertiary-font;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.timerNoun {
	grid-column: 1 / 3;
}
