@import 'src/styles/variables';

.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(77, 77, 77, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1001;

	.modalContent {
		background: $color-system-default-0;
		position: relative;
		padding: 3.44rem 4.25rem 3.23rem 4.31rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;

		.closeBtn {
			position: absolute;
			width: 1.5rem;
			height: 1.5rem;
			flex-shrink: 0;
			top: 1.25rem;
			right: 1.25rem;
			cursor: pointer;
		}
	}
}

.success {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;

	& p {
		color: $color-system-default-100;
		text-align: center;
		font-family: $primary-font;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
	}
}

.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	color: $color-system-default-100;
	text-align: center;
	font-family: $primary-font;

	& h2 {
		width: 80%;
		font-size: 2rem;
		font-weight: 700;
		line-height: 120%;
	}

	& p {
		font-size: 1.25rem;
		font-weight: 400;
	}

	.buttons {
		display: flex;
		gap: 3.56rem;

		& button {
			display: flex;
			width: 9.625rem;
			height: 3.5rem;
			padding: 1rem 3rem;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			font-family: $primary-font;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 700;
			line-height: 132%;
		}

		.yesBtn {
			background: $color-primary-orange;
			color: #fcfcfc;

			&:hover {
				background: rgb(255, 149, 99);
			}
		}

		.noBtn {
			background: transparent;
			color: #131313;
			border: 1px solid #131313;

			&:hover {
				background: rgb(20, 54, 48);
				color: rgb(244, 244, 244);
			}
		}
	}
}
