@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.cookie {
	position: fixed;
	bottom: 5rem;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 22.5rem;
	padding: 0.62rem 2.22rem 2.31rem 2.22rem;
	gap: 1.875rem;
	background-color: $color-system-default-0;
	color: $color-system-default-100;
	margin: auto;
	z-index: 100;
	box-shadow: 0px 0px 50px 0px #76a88d;

	@include small_tablet {
		height: 15rem;
		padding: 0.62rem 2.75rem 1.25rem 2.75rem;
	}

	@include full_desktop {
		height: 11.25rem;
		padding: 0.62rem 10.62rem 1rem 10.62rem;
		gap: 0.5rem;
	}
}

.closeWrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}

.close {
	cursor: pointer;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	font-family: Open Sans;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2rem;

	@include tablet {
		font-size: 1.25rem;
	}
}

.link {
	text-decoration-line: underline;
}

.btnWrapper {
	width: 8.75rem;
}
