@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.login {
	position: relative;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;

	&_active {
		opacity: 1;
		visibility: visible;
	}
	&_overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		position: fixed;
		z-index: 1100;
		overflow-y: auto;
		background: rgba(206, 206, 206, 0.6);
	}
	&__content {
		width: 20rem;
		display: flex;
		flex-direction: column;
		padding: 1rem 1rem 1.44rem 1rem;
		background: #fff;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@media (orientation: landscape) {
			overflow: auto;
		}

		&_layout {
			position: static;
			transform: none;
			top: 0;
			left: 0;

			@media (orientation: landscape) {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				overflow: auto;
			}
		}
		@include tablet {
			width: 23.8rem;
			height: 30.625rem;
		}
		@include full_desktop {
			width: 23.75rem;
			height: 30.625rem;
		}
	}
	&__closeBtn {
		align-self: self-end;
		background: none;
	}
	&__closeImg {
		display: block;
		align-self: self-end;
		margin-right: 0.25rem;
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
	}
	&__title {
		text-align: center;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.5rem;
		color: $color-system-default-100;
	}
	&__form {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		@include tablet {
			margin-top: 1.5rem;
		}
		@include large_desktop {
			margin-top: 1rem;
		}
	}
	&__inputWrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__inputBox {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0.25rem 0 0 0;
	}
	&__label {
		margin: 0 1rem;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 2.5rem;
		color: $color-primary-orange;
		&_error {
			color: $color-secondary-error;
		}
	}
	&__input {
		width: 100%;
		padding: 0.5rem 1rem;
		border: 1px solid $color-system-default-50;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.5rem;
		color: $color-system-default-100;
		transition:
			border 0.2s ease-in-out,
			color 0.2s ease-in-out;
		&_paddingR {
			padding-right: 3.25rem;
		}
		&:hover {
			border: 1px solid $color-system-default-100;
		}
		&:focus {
			border: 1px solid $color-system-default-100;
			outline: 2px solid $color-system-default-100;
		}
		&:focus + div svg path {
			stroke: $color-system-default-100;
		}
		&:disabled {
			color: $color-system-default-30;
			border: 1px solid $color-system-default-30;
		}
		&:disabled + div svg path {
			stroke: $color-system-default-100;
		}
		&:disabled + div svg path {
			stroke: $color-system-default-100;
		}
		&_error {
			border: 1px solid $color-secondary-error;
		}
	}
	&__forgetPass {
		margin-top: 0.5rem;
		align-self: self-end;
		color: #000;
		font-size: 1rem;
		font-weight: 400;
		line-height: 132%;
		text-decoration: underline;
		transition: font-weight 0.1s ease-in-out;
		&:hover {
			font-weight: 600;
		}
	}
	&__inputManipulPass {
		position: relative;
	}
	&__hiddenPass {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
	}

	&__boxBtn {
		margin-top: 1.13rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@include tablet {
			margin-top: 1rem;
		}
	}

	&__errorMessage {
		position: absolute;
		margin-top: 0.25rem;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 0.9rem;
		color: $color-secondary-error;
	}

	&__errorLogin {
		margin-top: 0.25rem;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 0.9rem;
		color: $color-secondary-error;
	}
}
