@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.inputWrap {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.label {
	color: $color-primary-orange;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.inputContainer {
	position: relative;
}

.input {
	width: 100%;
	display: flex;
	height: 3rem;
	padding: 0.5rem 3.25rem 0.5rem 1rem;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border: 0.0625rem solid $color-system-default-50;
	font-family: $primary-font;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: $color-system-default-100;
	transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

	&:hover {
		border: 0.0625rem solid $color-system-default-100;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}

	&:focus {
		border: 0.125rem solid $color-system-default-100;

		& + .eyeIcon path {
			stroke: $color-system-default-100;
			transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
		}
	}

	&::placeholder {
		color: $color-system-default-30;
	}
}

.eyeIcon {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
	transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

	& path {
		stroke: $color-system-default-30;
	}

	&:hover path {
		stroke: $color-system-default-100;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}
}

.errorMsg {
	position: absolute;
	margin-top: 0.25rem;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: $color-secondary-error;
}
