@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.card {
	display: flex;
	justify-content: space-between;
}

.img {
	align-self: start;
}

.btnWrap {
	.icon path {
		fill: none;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}

	button:hover .icon path {
		stroke: $color-ref-orange-10;
	}
	button:active .icon path {
		stroke: $color-ref-orange-20;
	}
}
