@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.card {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
}

.img {
	width: 22.9375rem;
	height: 18.0625rem;
	align-self: start;
}

.title {
	color: $color-primary-green;
	font-family: Open Sans;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.description {
	margin-top: 0.75rem;
	overflow: hidden;
	color: #000;
	font-family: Open Sans;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.textCollapsed {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	line-clamp: 6;
	-webkit-box-orient: vertical;
}

.btnWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.icon path {
		fill: none;
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	}

	button:hover .icon path {
		stroke: $color-ref-orange-10;
	}
	button:active .icon path {
		stroke: $color-ref-orange-20;
	}
}

.btn {
	height: 1.375rem;
	color: $color-primary-dark-green;
	font-family: Open Sans;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	text-decoration-line: underline;
	background-color: transparent;
	cursor: pointer;
}

.btn:hover {
	font-weight: 600;
	transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
}
