@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;

	@include tablet {
		align-items: flex-start;
	}
	@include full_desktop {
		align-items: flex-start;
	}
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.375rem;

	@include tablet {
		align-items: flex-start;
		gap: 0.875rem;
	}
	@include full_desktop {
		gap: 1.375rem;
	}
}

.contentContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.375rem;

	@include tablet {
		align-items: flex-start;
		gap: 0.875rem;
	}
	@include full_desktop {
		gap: 1.375rem;
	}
}

.contactContainer {
	display: flex;
	align-items: center;
	gap: 0.375rem;
}

.contactIcn {
	width: 1.5rem;
	height: 1.5rem;

	@include tablet {
		width: 2rem;
		height: 2rem;
	}
}

.socmediaContainer {
	display: flex;
	align-items: flex-start;
	gap: 0.875rem;

	@include tablet {
		gap: 1.5rem;
	}
	@include full_desktop {
		gap: 1.5rem;
	}
}

.socmediaIcn {
	width: 2rem;
	height: 2rem;

	& svg {
		width: 100%;
		height: 100%;
		object-fit: contain;
		fill: white;
	}

	&:hover path {
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
		fill: $color-ref-orange-10;
	}
}

.contactsBurgerMenu {
	flex-direction: column-reverse;
	align-items: start;
	gap: 1.75rem;

	.burgerContacts {
		gap: 0.625rem;
		color: $color-system-default-10;
	}

	.burgerSocials {
		gap: 0.875rem;
	}

	.hidden {
		display: none;
	}
}
