@use "src/styles/variables" as *;
@use "src/styles/mixins" as *;

.wrapper {
	background-color: $color-primary-green;
}

.images {
	position: relative;
	overflow: hidden;
	margin-bottom: 0.88rem;
	@include tablet {
		cursor: pointer;
	}
}

.heartIconContainer {
	z-index: 9;
	position: absolute;
	left: 1.25rem;
	top: 3.75rem;
	width: 2.875rem;
	height: 2.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	padding: 0.75rem;
	overflow: hidden;

	@include tablet {
		top: 1.25rem;
	}
}

.heartIcon {
	path {
		transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
		stroke: $color-primary-orange;
	}
	&.isBooked path {
		fill: $color-primary-orange;
	}
}

.content {
	padding-inline: 1rem;
	margin-bottom: 3.31rem;
	@include tablet {
		margin-bottom: 3.12rem;
		cursor: pointer;
	}
	@include full_desktop {
		margin-bottom: 3.25rem;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
}

.name {
	font-family: $secondary-font;
	font-size: 2rem;
	font-weight: 900;
	line-height: normal;
	@include tablet {
		font-size: 2.25rem;
	}
	@include full_desktop {
		font-size: 2.5rem;
	}
}

.status {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	font-weight: 600;
	line-height: normal;
	@include tablet {
		font-size: 1.125rem;
		line-height: 132%;
	}
	@include full_desktop {
		line-height: normal;
	}
}

.id {
	display: block;
	color: #f2f2f2;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0.9rem;
}

.about {
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 800;
	line-height: normal;
	@include tablet {
		font-size: 1.25rem;
	}
}

.birthday {
	display: block;
	color: #e9e9e9;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
}
.birthday:not(:last-child) {
	margin-bottom: 1.5rem;
}

.desc {
	font-size: 1.125rem;
	line-height: 140%;
	color: #ffffff;
}

.buttonContainer {
	padding: 0 1rem 2.5rem;
	@include tablet {
		padding-bottom: 2.25rem;
	}
	@include full_desktop {
		padding-bottom: 2.12rem;
	}
}

.heartIconBtn path {
	stroke: $color-system-default-0;
}

//Tablet Cat Modal
.wrapper.tabletModal {
	width: 48rem;
	padding-top: 1.25rem;
	.name {
		font-size: 2.5rem;
	}
	.status {
		line-height: normal;
	}
	.images {
		margin-bottom: 0;
	}
	.id {
		font-weight: 500;
		margin-bottom: 0.75rem;
	}
	.birthday {
		font-weight: 500;
	}
	.content {
		padding-inline: 3.62rem;
		margin-bottom: 4.38rem;
	}
	.buttonContainer {
		padding: 0 14.62rem 5.94rem;
	}
	.heartIconContainer {
		top: 3.81rem;
		left: 4.38rem;
	}
}

//Desktop Cat Modal

.wrapper.desktopModal {
	max-width: 59rem;
	display: flex;
	.modWrapper {
		width: 50%;
	}
}
